.section-2 {
  padding: 50px 0px 50px 0px;
  background: -webkit-linear-gradient(left, rgb(56,126,245), rgba(255,0,0,0)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, rgb(56,126,245), rgba(255,0,0,0)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, rgb(56,126,245), rgba(255,0,0,0)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, rgb(56,126,245), rgba(255,0,0,0)); /* Standard syntax (must be last) */
}


.md-check {
  color:#387ef5 !important;
}
