.section-1-img {
  max-width: 100%;
  padding: 20px;
}

.section-1-img-container {
  opacity: .9;
  width: 100%;
  display: inline-block;
  overflow-y: none;
  position: relative;
}

.section-1-img-container > img {
  width: 75%;
  border: 2px solid lightgray;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3),0 6px 20px 0 rgba(0,0,0,0.19); 
}


.title-container {
  font-size: 36px;
  color: #387ef5;
  text-align: center;
  letter-spacing: 2px;
  padding: 10px 10px 0px 10px;
}

.title {
  font-weight: bold;
}

.subtitle {
  font-size: 14px;
  letter-spacing: 4.5px;
  color:  #5590f6;
}

.section-1-container {
  margin-top: 20px;
}
.section-1 {
   height: 830px;
   margin-bottom: 0px;
   background: -webkit-linear-gradient(white, #e6e6e6, white);
   background: -moz-linear-gradient(white, #e6e6e6, white);
   background: -o-linear-gradient(white, #e6e6e6, white);
   background: linear-gradient(white, #e6e6e6, white); /* For Safari 5.1 to 6.0 */ /* For Opera 11.1 to 12.0 */ /* For Firefox 3.6 to 15 */ /* Standard syntax */
}



@media (max-width:481px) {
  .section-1 { 
      height: auto;
      margin-bottom: 100px;
  }
}