.app-container {
  position: relative;
}

.footer {
  background-color: #e6e6e6;
  height: auto;
  padding: 20px;
  color: darkgray;
}

.footer > div {
  padding: 5px;
}

.footer a {
  color: #387ef5;
}


@media (min-width:481px)  { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ }
@media (min-width:641px)  { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ }
@media (min-width:961px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ }

