.section-3 {
  background-color: white;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}

.slideshow-header {
  padding: 20px;
  color: white;
  font-variant: small-caps;
  text-align: center;
  background-color: #262626;
  opacity: .9;
}

.slideshow-title {
  font-size: 34px;
}

.slideshow-subtitle {
  padding-top: 12px;
  font-size: 15px;
}

/*
@media (max-width:481px) {
  .initial-img { 
      width: 60%;
      height: 200px;
      margin-bottom: 100px;
  }
}
*/