.section-3 {
  background-color:#e6e6e6;
  height: 300px !important;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}

.initial-img {
  width: 42%;
  height: 300px;
  display: inline-block;
  overflow-y: none;
}



@media (max-width:481px) {
  .initial-img { 
      width: 60%;
      height: 200px;
      margin-bottom: 100px;
  }
}